mixin headline()
	+b.main-content__headline.headline&attributes(attributes)
		h3.headline__tagline Седона - небольшой городок в аризоне, заслуживающий большего!
		p.headline__paragraph Рассмотрим 5 причин, по которым Седона круче чем Гранд Каньон!
