+below(768px)
	.search-form
		width 100%
		padding-bottom 15.3125vw
		
		&__tagline
			margin-top 8.75vw
			margin-bottom 5.9375vw

			font-family sansB
			fontVal(6.5625vw, 8.125vw)
			color #000
			text-align center
			
		&__content
			margin-bottom 8.125vw

			text-align center
			fontVal(4.375vw, 7.5vw)
			
		&__legend
			display block
			width 100%
			padding 9.375vw 0
			margin-bottom 7.5vw

			font-family sansB
			fontVal(4.7vw, 8.125vw)
			text-align center
			color #fff
			font-weight bold

			background-color brownColor
			
	.box-entry
		position relative
		
	.label-entry
		display block
		width 100%
		padding 0 10.9375%
		margin-bottom 1.5625vw

		font-family sansB
		fontVal(4.375vw, 8.125vw)
		font-weight bold
		color #000
		
	.date-entry
			position relative
			display block
			width 87.5%
			padding 4.375vw 13% 4.375vw 4.8%
			margin 0 auto
			margin-bottom 7.1875vw

			font-family sansB
			fontVal(4.375vw, 3.125vw)
			text-transform uppercase
			font-weight bold

			border none
			background-color grayColor

			placeholder(text-transform, uppercase)
			placeholder(font, sansB)
			placeholder(font-weight, bold)
			placeholder(color, #000)
			
			&__svg-calendar
				position absolute
				top 13vw
				left 84%
				size(6.25vw, 6.875vw)

				fill #a9a9a9
				
				&:hover
					fill #000
					
				&:active
					fill blueColor
					
	.box-exit
		position relative
		
	.label-exit
		display block
		width 100%
		padding 0 10.9375%
		margin-bottom 1.5625vw

		font-family sansB
		fontVal(4.375vw, 8.125vw)
		font-weight bold
		color #000
		
	.date-exit
		position relative
		display block
		width 87.5%
		padding 4.375vw 13% 4.375vw 4.8%
		margin 0 auto
		margin-bottom 7.1875vw

		font-family sansB
		fontVal(4.375vw, 3.125vw)
		text-transform uppercase
		font-weight bold

		border none
		background-color grayColor
		box-sizing border-box

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)
		
		&__svg-calendar
			position absolute
			top 13vw
			left 84%
			size(6.25vw, 6.875vw)

			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	.box-grown
		position relative
		float left

		width 35.625%
		padding 0
		margin 0
		margin-left 6.25%
		margin-bottom 14.375vw
		
	.label-grown
		display block
		width 100%
		padding 0 10.9375%
		padding-left 8.77%
		margin-bottom 1.5625vw

		font-family sansB
		fontVal(4.375vw, 8.125vw)
		font-weight bold
		color #000
		
	.amount-grown
		position relative
		display block
		width 87.5%
		padding 4.375vw 13% 4.375vw 4.8%
		margin 0 auto
		margin-bottom 7.1875vw

		font-family sansB
		fontVal(4.375vw, 3.125vw)
		text-transform uppercase
		font-weight bold

		border none
		background-color grayColor
		
		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)

		padding-right 33.33%
		padding-left 33.33%
		margin 0

		text-align center
		
	.grown-btn-minus
		position absolute
		top 15.4vw
		left 10.4%

		display block
		size(3.125vw, 0.9375vw)

		background-color transparent
		border none
		
		&__svg-minus
			size(3.125vw, 0.9375vw)
			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	.grown-btn-plus
		position absolute
		top 15vw
		right 28.07%

		display block
		width 3.125vw
		height 3.125vw

		background-color transparent
		border none
		
		&__svg-plus
			size(3.125vw)
			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	.box-children
		position relative
		float right

		width 35.625%
		padding 0
		margin 0
		margin-right 3.125%
		
	.label-children
		display block
		width 100%
		padding 0 10.9375%
		padding-left 8.77%
		margin-bottom 1.5625vw

		font-family sansB
		fontVal(4.375vw, 8.125vw)
		font-weight bold
		color #000
		
	.amount-children
		position relative
		display block
		width 87.5%
		padding 4.375vw 33.33%
		margin 0

		font-family sansB
		fontVal(4.375vw, 3.125vw)
		text-transform uppercase
		font-weight bold
		text-align center

		border none
		background-color grayColor

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)
		placeholder(text-align, center)
		
	.children-btn-minus
		position absolute
		top 15.4vw
		left 10.4%

		display block
		size(3.125vw, 0.9375vw)

		background-color transparent
		border none
		
		&__svg-minus
			size(3.125vw, 0.9375vw)
			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	.children-btn-plus
		position absolute
		top 15vw
		right 28.07%

		display block
		size(3.125vw)

		background-color transparent
		border none
		
		&__svg-plus
			size(3.125vw)
			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button
		-webkit-appearance none
		margin 0
		
	.btn-search
		display block
		width 87.5%

		padding 6.25% 0
		margin 0 auto
		margin-top 14.375vw

		font-family sansB
		fontVal(6.5625vw, 5.625vw)
		text-align center
		color #fff
		font-weight bold

		clear both
		background-color blueColor
		border none

		&:hover
			background-color #669ec0
			cursor pointer

		&:active
			background-color #5496bd
			color #88b6d1
			cursor pointer
			
+between(768px, 1199px)
	.search-form
		position relative
		width 73.95833%
		margin 0 auto
		text-align center
		
		&__form
			position absolute
			top 19.14vw

			width 100%

			box-shadow 0 1vw 2vw -1vw rgba(#000, 0.5)
			background-color #fff
			z-index 3
		
		&__tagline
			margin-top 7.55208vw
			margin-bottom 5.9375vw

			font-family sansB
			fontVal(3.90625vw, 2.734375vw)
			color #000
			font-weight bold
			text-align center
			
		&__content
			padding 0 7.8125vw
			margin-bottom 15.5vw

			text-align center
			fontVal(1.82292vw, 3.125vw)
			
		&__legend
			display block
			width 100%
			padding 4.42708vw 0
			margin-bottom 7.5vw

			font-family sansB
			fontVal(2.734375vw, 2.34375vw)
			text-align center
			color #fff
			font-weight bold

			background-color brownColor
			
	.box-entry
		position relative
		clear both

		size(80.4577%, 4.25vw)
		padding 0
		margin 0 auto
		margin-bottom 3.90625vw
		
	.label-entry
		float left
		display inline-block
		width 24%
		padding 2.4vw 0
		margin 0

		font-family sansB
		fontVal(1.82292vw, 1.30208vw)
		font-weight bold
		color #000
		text-align left
		
	.date-entry
		float right
		display inline-block
		width 75.71%
		padding 1.82291666vw 4.94791666vw 1.82291666vw 1.953125vw
		margin 0

		font-family sansB
		fontVal(1.82292vw, 1.30208vw)
		text-transform uppercase
		font-weight bold

		border none
		background-color grayColor
		box-sizing border-box

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)

		&__svg-calendar
			position absolute
			top 1.5vw
			left 93.87%
			size(2.6042vw, 2.8646vw)

			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor

	.box-exit
		position relative
		clear both

		size(80.4577%, 4.95vw)
		padding 0
		margin 0 auto
		margin-bottom 3.90625vw
		
	.label-exit
		float left
		display inline-block
		width 24%
		padding 2.4vw 0
		margin 0

		font-family sansB
		fontVal(1.82292vw, 1.30208vw)
		font-weight bold
		color #000
		text-align left
		
	.date-exit
		float right
		display inline-block
		width 75.71%
		padding 1.82291666vw 4.94791666vw 1.82291666vw 1.953125vw
		margin 0

		font-family sansB
		fontVal(1.82292vw, 1.30208vw)
		text-transform uppercase
		font-weight bold

		border none
		background-color grayColor

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)
		
		&__svg-calendar
			position absolute
			top 1.5vw
			left 93.87%
			size(2.6042vw, 2.8646vw)

			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	.box-grown
		position relative
		float left
		clear both

		display block
		width 29.3vw
		padding 0
		margin 0
		margin-left 7.29vw
		
	.label-grown
		float left
		display inline-block
		width 12vw
		padding-top 2.5vw

		font-family sansB
		fontVal(1.82292vw, 1.30208vw)
		font-weight bold
		color #000
		
	.amount-grown
		float right
		position relative
		display inline-block
		width 15.8vw
		padding 1.82291666vw 4.95vw 1.82291666vw 4.95vw
		margin 0

		font-family sansB
		fontVal(1.82292vw, 1.30208vw)
		text-transform uppercase
		font-weight bold
		text-align center

		border none
		background-color grayColor

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)
		
	.grown-btn-minus
		position absolute
		top 1.5vw
		right 13.5vw

		display block
		size(1.3vw, 0.39vw)

		background-color transparent
		border none
		
		&__svg-minus
			size(1.3vw, 0.39vw)
			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	.grown-btn-plus
		position absolute
		top 2vw
		right 2.3vw

		display block
		size(1.3vw)

		background-color transparent
		border none
		
		&__svg-plus
			size(1.3vw)
			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	.box-children
		position relative
		float right
		clear both

		width 23.44vw
		padding 0
		margin 0
		margin-right 7.29vw
		margin-top -6vw
		margin-bottom 7.03125vw
		
	.label-children
		float left
		display inline-block
		width 7.3vw
		padding 2.4vw 0
		padding-top 2.5vw
		margin 0

		font-family sansB
		fontVal(1.82292vw, 1.30208vw)
		font-weight bold
		color #000
		
	.amount-children
		float right
		position relative
		display inline-block
		width 15.8vw
		padding 1.82291666vw 4.95vw 1.82291666vw 4.95vw
		margin 0

		font-family sansB
		fontVal(1.82292vw, 1.30208vw)
		text-transform uppercase
		font-weight bold
		text-align center

		border none
		background-color grayColor
		box-sizing border-box

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)
		
	.children-btn-minus
		position absolute
		top 1.5vw
		right 13.5vw

		display block
		size(1.3vw, 0.39vw)

		background-color transparent
		border none
		
		&__svg-minus
			size(1.3vw, 0.39vw)
			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	.children-btn-plus
		position absolute
		top 2vw
		right 2.3vw

		display block
		size(1.3vw)

		background-color transparent
		border none
		
		&__svg-plus
			size(1.3vw)
			fill #a9a9a9

			&:hover
				fill #000

			&:active
				fill blueColor
				
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button
		-webkit-appearance none
		margin 0
		
	.btn-search
		display block
		width 80.4577%

		padding 2.734375vw 0
		margin 0 auto
		margin-bottom 7.1615vw

		font-family sansB
		fontVal(2.734375vw, 1.953125vw)
		text-align center
		color #fff
		font-weight bold

		clear both
		background-color blueColor
		border none

		&:hover
			background-color #669ec0
			cursor pointer

		&:active
			background-color #5496bd
			color #88b6d1
			cursor pointer
			
+above(1199px)
	.search-form
		position relative
		width 887.5px
		margin 0 auto
		
		&__form
			position absolute
			top 229px

			width 100%

			box-shadow 0 12px 24px -12px rgba(#000, 0.5)
			background-color #fff
			z-index 3
			
		&__tagline
			margin-top 90.6px
			margin-bottom 71.25px

			font-family sansB
			fontVal(46.9px, 32.8px)
			color #000
			font-weight bold
			text-align center
			
		&__content
			padding 0 93.75px
			margin-bottom 186px

			text-align center
			fontVal(21.9px, 37.5px)
			
		&__legend
			display block
			width 100%
			padding 53.1px 0
			margin-bottom 90px

			font-family sansB
			fontVal(32.8px, 28.1px)
			text-align center
			color #fff
			font-weight bold

			background-color brownColor
			
	.box-entry
		position relative
		clear both

		size(80.4577%, 59.4px)
		padding 0
		margin 0 auto
		margin-bottom 46.9px
		
	.label-entry
		float left
		display inline-block
		width 24%
		padding 28.8px 0
		margin 0

		font-family sansB
		fontVal(21.9px, 15.6px)
		font-weight bold
		color #000
		text-align left
		
	.date-entry
		float right
		display inline-block
		width 75.71%
		padding 21.9px 59.4px 21.9px 23.4px
		margin 0

		font-family sansB
		fontVal(21.9px, 15.6px)
		text-transform uppercase
		font-weight bold

		border none
		background-color grayColor
		box-sizing border-box

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)
		
		&__svg-calendar
			position absolute
			top 15.6px
			left 93.87%
			size(31.3px, 34.4px)

			fill #a9a9a9
			
	.box-exit
		position relative
		clear both

		size(80.4577%, 59.4px)
		padding 0
		margin 0 auto
		margin-bottom 46.9px
		
	.label-exit
		float left
		display inline-block
		width 24%
		padding 28.8px 0
		margin 0

		font-family sansB
		fontVal(21.9px, 15.6px)
		font-weight bold
		color #000
		text-align left
		
	.date-exit
		float right
		display inline-block
		width 75.71%
		padding 21.9px 59.4px 21.9px 23.4px
		margin 0

		font-family sansB
		fontVal(21.9px, 15.6px)
		text-transform uppercase
		font-weight bold

		border none
		background-color grayColor

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)

		&__svg-calendar
			position absolute
			top 15.6px
			left 93.87%
			size(31.3px, 34.4px)

			fill #a9a9a9
			
	.box-grown
		position relative
		float left
		clear both

		display block
		width 351.6px
		padding 0
		margin 0
		margin-left 87.5px
		
	.label-grown
		float left
		display inline-block
		width 144px
		padding 28.8px 0
		padding-top 30px
		margin 0
		
		font-family sansB
		fontVal(21.9px, 15.6px)
		font-weight bold
		color #000
		text-align left
		
	.amount-grown
		float right
		position relative
		display inline-block
		width 180px

		padding 21.9px 59.4px
		margin 0

		text-align center
		font-family sansB
		fontVal(21.9px, 15.6px)
		text-transform uppercase
		font-weight bold

		border none
		background-color grayColor

		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)
			
	.grown-btn-minus
		position absolute
		top 25px
		right 150px

		display block
		size(15.6px, 4.7px)

		background-color transparent
		border none
		
		&__svg-minus
			size(15.6px, 4.7px)
			fill #a9a9a9
			
	.grown-btn-plus
		position absolute
		top 25px
		right 27.6px

		display block
		size(15.6px)

		background-color transparent
		border none
		
		&__svg-plus
			size(15.6px)
			fill #a9a9a9
			
	.box-children
		position relative
		float right
		clear both

		width 293.3px
		padding 0
		margin 0
		margin-right 87.5px
		margin-top -72px
		margin-bottom 84.4px
		
	.label-children
		float left
		display inline-block
		width 87.6px
		padding 28.8px 0
		padding-top 30px
		margin 0
		
		font-family sansB
		fontVal(21.9px, 15.6px)
		font-weight bold
		color #000
		text-align left
		
	.amount-children
		float right
		position relative
		display inline-block
		width 189.6px
		box-sizing border-box

		padding 21.9px 59.4px
		margin 0
		
		font-family sansB
		fontVal(21.9px, 15.6px)
		text-transform uppercase
		font-weight bold

		border none
		background-color grayColor
		text-align center
		
		placeholder(text-transform, uppercase)
		placeholder(font, sansB)
		placeholder(font-weight, bold)
		placeholder(color, #000)
		
	.children-btn-minus
		position absolute
		top 25px
		right 150px

		display block
		size(15.6px, 4.7px)

		background-color transparent
		border none
		
		&__svg-minus
			size(15.6px, 4.7px)
			fill #a9a9a9
			
	.children-btn-plus
		position absolute
		top 25px
		right 27.6px

		display block
		size(15.6px)

		background-color transparent
		border none
		
		&__svg-plus
			size(15.6px)
			fill #a9a9a9
			
	.btn-search
		display block
		width 715.6px

		padding 32.8px 0
		margin 0 auto
		margin-bottom 85.9px
		margin-top 84.4px

		font-family sansB
		fontVal(32.8px, 23.4px)
		text-align center
		color #fff
		font-weight bold

		clear both
		background-color blueColor
		border none

		&:hover
			background-color #669ec0
			cursor pointer

		&:active
			background-color #5496bd
			color #88b6d1
			cursor pointer