/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold.eot");
    src: url("../fonts/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

sansN = PTSansRegular
sansB = PTSansBold
sansI = PTSansItalic
blueC = #81b3d2
grayC = #eeeeee
darkgrayC = #d6d6d6
textC = #333333
brownC = #766357
formC = #f2f2f2

fontVal(fSize = 14px, lSize = 14px)
  font-size fSize
  line-height lSize
  text-transform uppercase
  
placeholder(prop, value)
  &::-webkit-input-placeholder
   {prop} value
  &::-moz-input-placeholder
   {prop} value


html,
body,
article,
section,
div,
ul,
li,
h1,
h2,
h3,
h4,
p
  padding 0
  margin 0
  box-sizing border-box


body
  width 100%
  min-width 320px
  margin 0 auto
  
  font-family sansN
  fontVal()
  color textC
  
  background-color #fff
  
.main-content
  width 100%
  

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none; 
  margin: 0; 

@media screen and (min-width: 0px) and (max-width: 767px)
  .body
    width 100%
    min-width 320px 
    
  .main-header
    position relative
    width 100%
    height 139.375vw
    
    box-shadow 0 -1vw 2vw -1vw rgba(#000, 0.3)
    overflow hidden
    
    &:after
        content ''
        position absolute
        bottom 0
        left 50%

        display block
        width 0
        height 0
        margin-left -400px

        border-top 7.8125vw solid transparent
        border-left 400px solid #fff
        border-right 400px solid #fff
        border-bottom none
  
  .main-nav
    position relative
    
    width 100%
    height 17.5vw
    
  .main-nav__btn-burger
    position absolute
    top 5.3125vw
    right 6.25vw
    
    display block
    width 7.1875vw
    height 6.875vw
    
    svg
      fill blueC
      width 100%
      height 100%

  .main-nav__btn-cross
    position absolute
    bottom 74vw
    right 6.25vw
    
    display block
    width 6.875vw
    height 6.875vw
    
    z-index 3
    
    svg 
      width 100%
      height 100%
    
  .menu-item
    position absolute
    bottom 100%
    
    display block
    width 100%
    padding 2.1875vw 0
    
    fontVal(5.625vw, 12.5vw)
    font-family sansB
    font-weight bold
    color #fff
    text-align center
    
    background-color blueC
    border-bottom 0.3125vw solid rgba(#000, 0.5)
    border-top 0.3125vw solid rgba(#fff, 0.5)
    
    &:first-child
      bottom 68.95vw
      border-top none
      
    &:nth-child(2)
      bottom 51.8vw
      
    &:nth-child(4)
      bottom 34.6875vw
      
    &:last-child
      border-bottom none
      
    &:hover
      background-color #669ec0
      cursor pointer
        
    &:active
      background-color #5496bd
      color #88b6d1
      cursor pointer
    
  .logo
    position relative
    display block
    width 42.8125vw
    height 21.875vw
    
    padding 0
    margin 0 auto
    
    background-color transparent
    border none
    z-index 3
    
    svg
      width 42.8125vw
      height 21.875vw
      
    img
      position absolute
      top 0
      left 50%
      
      width 20.9375vw
      height 17.5vw
      margin-left -10.46875vw
      border none      
    
  .menu-item--hide
    display none
    
  .header__content
    position relative
    width 100%
    height 121.875vw
    
    background-color #e1eef7
    background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-background@1x.jpg)
    background-repeat no-repeat
    background-size auto 121.875vw
    background-position center
    
    .text-welcome
      position absolute
      top 14.6875vw
      left 50%
      
      display block
      width 45vw
      height 10.9375vw
      margin-left -22.5vw
      
    .text-gorgeus
      position absolute
      top 28.125vw
      left 50%
      
      display block
      width 61.25vw
      height 7.1875vw
      margin-left -30.625vw
      
    .text-sedona
      position absolute
      top 54.0625vw
      left 50%
      
      display block
      width 87.5vw
      height 14.6875vw
      margin-left -43.75vw
      
    .text-because
      position absolute
      top 90vw
      left 50%
      
      display block
      width 61.25vw
      height 15vw
      margin-left -30.625vw
      
      fill #fff
    
  .page__banner
    position relative
    height 74.375vw
    padding 12.5vw 6.25vw 0
    
    text-align center
    fontVal(4.375vw, 8.125vw)
    overflow hidden
    box-shadow 0 -1px 0 0 #fff
    
    &:after
      content ''
      position absolute
      bottom 0
      left 50%

      display block
      width 0
      height 0
      margin-left -400px

      border-top 5vw solid transparent
      border-left 400px solid blueC
      border-right 400px solid blueC
      border-bottom none
    
    .page__tagline
      margin-bottom 8.75vw
      
      font-family sansB
      font-weight bold
      fontVal(5.625vw, 8.125vw)
      color #000
      
    .page__paragraph
      margin-bottom 12.8125vw
    
  .reason__mean--block
    position relative
    height 60.3125vw
    padding 13.4375vw 6.25vw 12.5vw
    margin-bottom 80vw
    
    fontVal(4.375vw, 6.5625vw)
    color #fff
    text-align center
    
    background-color blueC
    box-shadow 0 -1px 0 0 blueC
    
    .reason__tagline
      margin-bottom 4.0625vw
      
      font-family sansB
      font-weight bold
      fontVal(6.5625vw, 6.5625vw)
      
    .reason__number
      display block
      margin-bottom 4.0625vw
    
    &:after
      content ''
      position absolute
      top 100%
      left 0
      
      display block
      width 100%
      height 80vw
      
      background-color rgba(#000, 0.3)
    
    &:first-child:after
      background-image url("file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-city@1x.jpg")
      background-repeat no-repeat
      background-position center
      background-size auto 100%
      
  .reason__mean--revers
    box-shadow none
    
    &:after
      background-image url("file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-bridge@1x.jpg")
      background-repeat no-repeat
      background-position center
      background-size auto 100%
      
  .chips-section
    width 100%
    height 131.25vw
    padding 9.375vw 6.25vw
    
    .chip
      position relative
      padding-top 3.125vw
      padding-left 15.625vw
      margin-bottom 6.25vw
      
      .chip__headline
        margin 0
        margin-bottom 3.4375vw
        
        font sansB
        fontVal(5.625vw, 8.125vw)
        color #000
        
      .chip__content
        fontVal(4.375vw, 6.5625vw)
        
    .chip--house svg
        position absolute
        top 0
        left 0.625vw
        
        width 11.5625vw
        height 11.5625vw
        fill blueC
      
    .chip--food svg
      position absolute
      top 0
      left 1.5625vw
      
      width 10vw
      height 11.875vw
      
      fill blueC
      
    .chip--souvenir svg
      position absolute
      top 0
      left 0
      
      width 11.5625vw
      height 10.9375vw
      
      fill blueC
      
  .reason__mean--inline
    position relative
    height 60.3125vw
    padding 13.4375vw 6.25vw 12.5vw
    margin-bottom 0vw
    
    fontVal(4.375vw, 6.5625vw)
    text-align center
    color #000
    
    background-color grayC
    
    .reason__tagline
      margin-bottom 4.0625vw
      
      font-family sansB
      font-weight bold
      fontVal(6.5625vw, 6.5625vw)
      
    .reason__number
      display block
      margin-bottom 4.0625vw
    
    &:after
      content ''
      position absolute
      bottom 0.15vw
      left 6.25vw
      
      display block
      width 86vw
      height 0.3125vw
      
      background-color darkgrayC
      z-index 3
      
    &:last-of-type:after
      display none
      
  .search-form
    width 100%
    padding-bottom 15.3125vw
    
    .search-form__tagline
      margin-top 8.75vw
      margin-bottom 5.9375vw
      
      font-family sansB
      fontVal(6.5625vw, 8.125vw)
      color #000
      text-align center
      
    .search-form__content
      margin-bottom 8.125vw
      
      text-align center
      fontVal(4.375vw, 7.5vw)
      
    .search-form__legend
      display block
      width 100%
      padding 9.375vw 0
      margin-bottom 7.5vw
      
      font-family sansB
      fontVal(4.7vw, 8.125vw)
      text-align center
      color #fff
      font-weight bold
      
      background-color brownC
      
    label
      display block
      width 100%
      padding 0 10.9375%
      margin-bottom 1.5625vw
      
      font-family sansB
      fontVal(4.375vw, 8.125vw)
      font-weight bold
      color #000
      
      box-sizing border-box
      
    input
      position relative
      display block
      width 87.5%
      padding 4.375vw 13% 4.375vw 4.8%
      margin 0 auto
      margin-bottom 7.1875vw
      
      font-family sansB
      fontVal(4.375vw, 3.125vw)
      text-transform uppercase
      font-weight bold
      
      border none
      background-color grayC
      box-sizing border-box
      
      placeholder(text-transform, uppercase)
      placeholder(font, sansB)
      placeholder(font-weight, bold)
      placeholder(color, #000)
      
    .box-in
      position relative
      
      svg
        position absolute
        top 13vw
        left 84%

        width 6.25vw
        height 6.875vw

        fill #a9a9a9
        
        &:hover
          fill #000
          
        &:active
          fill blueC
        
    .box-out
        position relative

        svg
          position absolute
          top 13vw
          left 84%

          width 6.25vw
          height 6.875vw

          fill #a9a9a9
          
          &:hover
            fill #000
          
          &:active
            fill blueC
    
    .box-grown
      position relative
      float left
      
      width 35.625%
      padding 0
      margin 0
      margin-left 6.25%
      margin-bottom 14.375vw
      
      .search-form__label-grown
        padding-left 8.77%
        
      .search-form__grown
        padding-right 33.33%
        padding-left 33.33%
        margin 0
        
        text-align center
        
      .search-form__btn-grown--minus
        position absolute
        top 15.4vw
        left 10.4%
        
        display block
        width 3.125vw
        height 0.9375vw
        
        background-color transparent
        border none
        
        svg
          width 3.125vw
          height 0.9375vw
          fill #a9a9a9
          
          &:hover
            fill #000
          
          &:active
            fill blueC
          
      .search-form__btn-grown--plus
        position absolute
        top 15vw
        right 28.07%

        display block
        width 3.125vw
        height 3.125vw

        background-color transparent
        border none

        svg
          width 3.125vw
          height 3.125vw
          fill #a9a9a9
          
          &:hover
            fill #000
          
          &:active
            fill blueC
      
    .box-children
      position relative
      float right
      
      width 35.625%
      padding 0
      margin 0
      margin-right 3.125%
      
      .search-form__label-children
        padding-left 8.77%
        
      .search-form__children
        padding-right 33.33%
        padding-left 33.33%
        margin 0
        
        text-align center
        placeholder(text-align, center)
        
      .search-form__btn-children--minus
        position absolute
        top 15.4vw
        left 10.4%
        
        display block
        width 3.125vw
        height 0.9375vw
        
        background-color transparent
        border none
        
        svg
          width 3.125vw
          height 0.9375vw
          fill #a9a9a9
          
          &:hover
            fill #000
          
          &:active
            fill blueC
          
      .search-form__btn-children--plus
          position absolute
          top 15vw
          right 28.07%

          display block
          width 3.125vw
          height 3.125vw

          background-color transparent
          border none

          svg
            width 3.125vw
            height 3.125vw
            fill #a9a9a9
            
            &:hover
              fill #000

            &:active
              fill blueC
        
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button
      -webkit-appearance: none; 
      margin: 0; 
      
    .search-form__btn
      display block
      width 87.5%
      
      padding 6.25% 0
      margin 0 auto
      margin-top 14.375vw
      
      font-family sansB
      fontVal(6.5625vw, 5.625vw)
      text-align center
      color #fff
      font-weight bold
      
      clear both
      background-color blueC
      
      &:hover
        background-color #669ec0
        cursor pointer
        
      &:active
        background-color #5496bd
        color #88b6d1
        cursor pointer
      
  .main-footer
    position relative
    width 100%
    height 185.3125vw
    
    .main-footer__map
      width 100%
      height 185.3125vw
      
      background-color rgba(#000, 0.3)
      box-shadow inset 0vw 1vw 3vw -1vw #000
      
      iframe
        width 100%
        height 185.3125vw
      
    .main-footer__content
      position absolute
      bottom 0
      left 0
      
      display block
      width 100%
      height 72.8125vw
      padding 0
      
      text-align center
      background-color rgba(#fff, 0.8)
      
      .main-footer__tag
        display block
        margin-top 9.6875vw
        margin-bottom 13.125vw
        
        font-family sansB
        font-weight bold
        fontVal(6.5625vw, 4.6875vw)
        color #000
        
      .social-btn
        display block
        width 50%
        height 15vw
        margin 0 auto
        margin-bottom 12.8125vw
        
        .social-btn__twitter
          position relative
          display inline-block
          width 14.375vw
          height 15vw
          margin-right 1.875vw

          background-color blueC

          svg 
            position absolute
            top 50%
            left 50%

            width 5.3125vw
            height 4.6875vw
            margin-top -2.34375vw
            margin-left -2.65625vw

            fill #fff

        .social-btn__facebook
          position relative
          display inline-block
          width 14.375vw
          height 15vw
          margin-right 1.875vw

          background-color blueC

          svg 
            position absolute
            top 50%
            left 50%

            width 2.8125vw
            height 5.9375vw
            margin-top -2.96875vw
            margin-left -1.40625vw

            fill #fff

        .social-btn__youtube 
          position relative
          display inline-block
          width 14.375vw
          height 15vw

          background-color blueC

          svg
            position absolute
            top 50%
            left 50%

            width 6.25vw
            height 4.375vw
            margin-top -2.1875vw
            margin-left -3.125vw

            fill #fff
        
      .copywrite
        display block
        width 62.5%
        height 10.3125vw
        margin 0 auto
        
        vertical-align middle
        font-family sansN
        fontVal(4.375vw, 8.125vw)
        
        .copywright__creator
          display inline-block
          width 8.4375vw
          height 10.3125vw
          
          vertical-align middle
          overflow hidden
          
          svg 
            width 8.4375vw
            height 10.3125vw
            
            fill #231f20
          
        .copywright__customer
          display inline-block
          width 8.4375vw
          height 10.3125vw
          
          vertical-align middle
          overflow hidden
          
          svg 
            width 8.4375vw
            height 10.3125vw
            
            fill #231f20

  @media (min-resolution: 144dpi ), (min-resolution: 1.5dppx )
    .header__content
      background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-background@2x.jpg)
      
    .reason__mean--block:first-child:after
      background-image url("file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-city@2x.jpg")
      
    .reason__mean--revers:after
      background-image url("file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-bridge@2x.jpg")
      
@media screen and (min-width: 768px) and (max-width: 1199px)
  body
    width 100%
    max-width 1200px
    margin 0 auto
    
  .main-header
    position relative
    width 100%
    height 73.958333vw
    overflow hidden
    
    &:after
      content ''
      position absolute
      bottom 0
      left 50%
      
      display block
      width 0
      height 0
      margin-left -50vw
      
      border-top 4.6875vw solid transparent
      border-left 50vw solid #fff
      border-right 50vw solid #fff
      border-bottom none
      
      z-index 3
      
    &:before
      content ''
      position absolute
      bottom 0
      left 50%
      
      display block
      width 0
      height 0
      margin-left -28.9vw
      
      border-top 4.6875vw solid transparent
      border-left 28.9vw solid #fff
      border-right 28.9vw solid #fff
      border-bottom none
      
      z-index 3
  
  .main-nav
    position relative
    
    display block
    width 100%
    height 7.291666vw
    padding 2.8646vw 4.03645%
    
    box-sizing border-box
    
    ul
      display flex
      flex-direction row
      justify-content space-between
      align-items flex-start
    
    &:before
      display none
    
  .main-nav__btn-burger
    display none

  .main-nav__btn-cross
    display none
    
  .menu-item
    fontVal(1.8229vw, 1.5625vw)
    font-family sansB
    font-weight bold
    color #000
    text-align center
    
    background-color #fff
    border none
    
    &:nth-child(2)
      margin-right -4.5vw
      
    &:nth-child(4)
      margin-left -4.5vw
      
    &:hover
      color blueC
      cursor pointer
      
    &:active
      color #000
      opacity 0.3
      cursor pointer
      
  .logo
      position relative
      
      display block
      width 17.8385vw
      height 9.1146vw

      padding 0
      margin 0
      margin-top  -2.8646vw

      background-color transparent
      border none
      z-index 3

      svg
        width 17.8385vw
        height 9.1146vw

      img
        position absolute
        top 0
        left 50%

        width 8.724vw
        height 7.2917vw
        margin-left -4.362vw
        border none      

        border none
    
  .menu-item--hide
    display inline-block
    
  .header__content
    position relative
    width 100%
    height 66.666vw
    
    background-color #e1eef7
    background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-background@1x.jpg)
    background-repeat no-repeat
    background-size auto 66.666vw
    background-position center
    
    .text-welcome
        position absolute
        top 9.8958vw
        left 50%

        display block
        width 24.6094vw
        height 5.8594vw
        margin-left -12.305vw
      
    .text-gorgeus
        position absolute
        top 17.1875vw
        left 50%

        display block
        width 34.505vw
        height 3.90625vw
        margin-left -17.2526vw
      
    .text-sedona
        position absolute
        top 27.8645vw
        left 50%

        display block
        width 59.505vw
        height 10.156vw
        margin-left -29.7526vw
      
    .text-because
        position absolute
        top 45.3125vw
        left 50%

        display block
        width 38.4115vw
        height 10.417vw
        margin-left -19.20573vw

        fill #fff
    
    
  .page__banner
    position relative
    padding 7.421875vw 16.1458333vw 0
    
    text-align center
    fontVal(1.82291666vw, 3.38541666vw)
    box-shadow 0 -1px 0 0 #fff
    
    .page__tagline
      margin-bottom 3.6458333vw
      
      font-family sansB
      font-weight bold
      fontVal(2.734375vw, 3.38541666vw)
      color #000
      
    .page__paragraph
      margin-bottom 6.380208333vw
      
      &:before
        display none

      &:after
        display none
  
  .reason__mean--block
    position relative
    display block
    width 100%
    height 33.3333vw
    
    padding 5.859375vw 71.847333% 5.598958vw 5.208vw
    margin 0
    
    fontVal(1.82291666vw, 2.734375vw)
    color #fff
    text-align center
    
    background-color blueC
    
    &:first-child
      box-shadow 0 -1px 0 0 blueC

    
    &:first-child:after
      content ''
      position absolute
      top 0
      right 0
      
      display block
      width 66.666%
      height 33.3333vw
      
      background-color rgba(#000, 0.3)
      background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-city@1x.jpg)
      background-repeat no-repeat
      background-size 100% 100%
      background-position center
    
    .reason__tagline
      margin-bottom 1.30208vw
      
      font-family sansB
      font-weight bold
      fontVal(2.734375vw, 3.38541666vw)
      color #fff
      
    .reason__number
      display block
      margin-bottom 2.86458vw
      
  .reason__mean--revers
      padding 5.859375vw 4vw 5.598958vw 69%
      
      .reason__content
        padding 0 1.5vw

      &:after
        content ''
        position absolute
        top 0
        left  0

        display block
        width 66.666%
        height 33.3333vw

        background-color rgba(#000, 0.3)
        background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-bridge@1x.jpg)
        background-repeat no-repeat
        background-size 100% 100%
        background-position center
      
  .chips-section
    display flex
    flex-direction row
    justify-content space-around
    
    width 100%
    height 42.96875vw
    
    .chip
      position relative
      
      display inline-block
      width 23.4375vw
      height 42.96875vw
      
      padding-top 20.8333vw
      margin 0
      
      text-align center
      
      &:last-child
        margin-right 0
      
      .chip__headline
        margin 0
        margin-bottom 2.734375vw
        
        font sansB
        fontVal(2.734375vw, 3.38541666vw)
        color #000
        
      .chip__content
        fontVal(1.82291vw, 2.734375vw)
        
    .chip--house svg
      position absolute
      top 7.8125vw
      left 50%
      
      display block
      width 9.7656vw
      height 9.375vw
      margin-left -4.8828vw
      
      fill blueC
      
    .chip--food svg
      position absolute
      top 7.9427vw
      left 50%
      
      display block
      width 9.6354vw
      height 9.11458333vw
      margin-left -4.817708vw
      
      fill blueC
      
    .chip--souvenir svg
      position absolute
      top 7.29166vw
      left 50%
      
      display block
      width 8.3333vw
      height 9.8958333vw
      margin-left -4.16666vw
      
      fill blueC
      
  .reason__mean--inline-box
    display flex
    flex-direction row
    justify-content space-around
    
    background-color grayC
    
  .reason__mean--inline
    display inline-block
    width 23.4375vw
    height 33.333vw
    
    padding 5.8594vw 0 0 0
    margin 0
    
    vertical-align top
    color textC
    hyphens auto
    fontVal(1.82291666vw, 2.734375vw)
    text-align center
    
   .reason__tagline
      padding 0 3.2552vw
      margin-bottom 1.30208vw

      font-family sansB
      font-weight bold
      color #000
      fontVal(2.734375vw, 3.38541666vw)

  .reason__number
      display block
      margin-bottom 2.86458vw
    
    .reason__tagline:after
      display none
      
  .search-form
    position relative
    width 73.95833%
    margin 0 auto
    text-align center
    
    .search-form__form
      position absolute
      top 19.14vw
      
      width 100%
      
      box-shadow 0 1vw 2vw -1vw rgba(#000, 0.5)
      background-color #fff
      z-index 3
    
    .search-form__tagline
      margin-top 7.55208vw
      margin-bottom 5.9375vw
      
      font-family sansB
      fontVal(3.90625vw, 2.734375vw)
      color #000
      font-weight bold
      text-align center
      
    .search-form__content
      padding 0 7.8125vw
      margin-bottom 15.5vw
      
      text-align center
      fontVal(1.82292vw, 3.125vw)
      
    .search-form__legend
      display block
      width 100%
      padding 4.42708vw 0
      margin-bottom 7.5vw
      
      font-family sansB
      fontVal(2.734375vw, 2.34375vw)
      text-align center
      color #fff
      font-weight bold
      
      background-color brownC
      
    label
      display inline-block
      width 24%
      padding 2.4vw 0
      margin 0
      
      font-family sansB
      fontVal(1.82292vw, 1.30208vw)
      font-weight bold
      color #000
      text-align left
      
      box-sizing border-box
      
    input
      display inline-block
      width 75.71%
      padding 1.82291666vw 4.94791666vw 1.82291666vw 1.953125vw
      margin 0
      
      font-family sansB
      fontVal(1.82292vw, 1.30208vw)
      text-transform uppercase
      font-weight bold
      
      border none
      background-color grayC
      box-sizing border-box
      
      placeholder(text-transform, uppercase)
      placeholder(font, sansB)
      placeholder(font-weight, bold)
      placeholder(color, #000)
      
    .box-in
      position relative
      clear both
      
      width 80.4577%
      height 4.95vw
      padding 0
      margin 0 auto
      margin-bottom 3.90625vw
      
      label
        float left
        
      input
        float right
      
      svg
        position absolute
        top 1.3vw
        left 93.87%

        width 2.6042vw
        height 2.8646vw

        fill #a9a9a9
        
    .box-out
      position relative
      clear both
      
      width 80.4577%
      height 4.95vw
      padding 0
      margin 0 auto
      margin-bottom 3.90625vw
      
      label
        float left
        
      input
        float right
      
      svg
        position absolute
        top 1.3vw
        left 93.87%

        width 2.6042vw
        height 2.8646vw

        fill #a9a9a9
    
    .box-grown
      position relative
      float left
      clear both
      
      display block
      width 29.3vw
      padding 0
      margin 0
      margin-left 7.29vw
      
      label
        float left
        display inline-block
        width 12vw
        padding-top 2.5vw
      
      .search-form__grown
        float right
        position relative
        display inline-block
        width 15.8vw
        box-sizing border-box
        
        padding-right 4.95vw
        padding-left 4.95vw
        
        text-align center
        
      .search-form__btn-grown--minus
        position absolute
        top 1.5vw
        right 13.5vw
        
        display block
        width 1.3vw
        height 0.39vw
        
        background-color transparent
        border none
        
        svg
          width 1.3vw
          height 0.39vw
          fill #a9a9a9
          
      .search-form__btn-grown--plus
        position absolute
        top 2vw
        right 2.3vw

        display block
        width 1.3vw
        height 1.3vw

        background-color transparent
        border none

        svg
          width 1.3vw
          height 1.3vw
          fill #a9a9a9
      
    .box-children
      position relative
      float right
      clear both
      
      width 23.44vw
      padding 0
      margin 0
      margin-right 7.29vw
      margin-top -6vw
      margin-bottom 7.03125vw
      
      .search-form__label-children
        float left
        display inline-block
        width 7.3vw
        padding-top 2.5vw
        
      .search-form__children
        float right
        position relative
        display inline-block
        width 15.8vw
        box-sizing border-box
        
        padding-right 4.95vw
        padding-left 4.95vw
        margin 0
        
        text-align center
        
      .search-form__btn-children--minus
        position absolute
        top 1.5vw
        right 13.5vw
        
        display block
        width 1.3vw
        height 0.39vw
        
        background-color transparent
        border none
        
        svg
          width 1.3vw
          height 0.39vw
          fill #a9a9a9
          
      .search-form__btn-children--plus
        position absolute
        top 2vw
        right 2.3vw

        display block
        width 1.3vw
        height 1.3vw

        background-color transparent
        border none

        svg
          width 1.3vw
          height 1.3vw
          fill #a9a9a9
        
      
    .search-form__btn
      display block
      width 80.4577%
      
      padding 2.734375vw 0
      margin 0 auto
      margin-bottom 7.1615vw
      
      font-family sansB
      fontVal(2.734375vw, 1.953125vw)
      text-align center
      color #fff
      font-weight bold
      
      clear both
      background-color blueC
      cursor pointer
      
      &:hover
        background-color #669ec0
        cursor pointer
        
      &:active
        background-color #5496bd
        color #88b6d1
        cursor pointer
      
  .main-footer
    position relative
    width 100%
    height 77.21354vw
    
    .main-footer__map
        width 100%
        height 100%

        background-color rgba(#000, 0.4)

        iframe
          width 100%
          height 77.21354vw
      
    .main-footer__content
      position absolute
      bottom 0
      clear both
      
      display block
      width 100%
      height 15.625vw
      padding 4.6875vw 5.208% 4.6875vw 7.8125%
      box-sizing border-box
      
      text-align center
      background-color rgba(#fff, 0.8)
      
      .main-footer__tag
        display block
        width 21%
        margin 2.1vw 0
        margin-right  14.45vw
        float left
        
        font-family sansB
        font-weight bold
        fontVal(2.734375vw, 1.9531vw)
        color #000
        
      .social-btn
        float left
        width 23%
        height 6.25vw
        
      .social-btn__twitter
          position relative
          display inline-block
          width 5.98958vw
          height 6.25vw
          margin-right 0.78125vw

          background-color blueC
          
          svg 
            position absolute
            top 50%
            left 50%

            width 2.2135vw
            height 1.8229vw
            margin-top -0.91146vw
            margin-left -1.1068vw

            fill #fff
            
            &:active
              fill #88b6d1
        
      .social-btn__facebook
        position relative
        display inline-block
        width 5.98958vw
        height 6.25vw
        margin-right 0.78125vw

        background-color blueC

        &:hover
          background-color #669ec0
          cursor pointer

        &:active
          background-color #5496bd
          cursor pointer

        svg 
          position absolute
          top 50%
          left 50%

          width 1.1719vw
          height 2.474vw
          margin-top -1.237vw
          margin-left -0.5859vw

          fill #fff

          &:active
            fill #88b6d1
        
      .social-btn__youtube
        position relative
        display inline-block
        width 5.98958vw
        height 6.25vw
        
        background-color blueC
        
        &:hover
          background-color #669ec0
          cursor pointer
        
        &:active
          background-color #5496bd
          cursor pointer
        
        svg 
          position absolute
          top 50%
          left 50%
          
          width 2.604vw
          height 1.8229vw
          margin-top -0.91145vw
          margin-left -1.302vw
          
          fill #fff
          
          &:active
            fill #88b6d1
        
      .copywrite
        display block
        width 26%
        height 4.296875vw
        margin 1vw 0
        float right
        
        vertical-align middle
        font-family sansN
        fontVal(1.8229vw, 1.30208vw)
        
        .copywright__creator
          display inline-block
          width 3.3854vw
          height 3.90625vw
          
          vertical-align middle
          overflow hidden
          
          &:hover
          background-color #669ec0
          cursor pointer
        
          &:active
            background-color #5496bd
            cursor pointer
          
          svg 
            width 3.3854vw
            height 3.90625vw
            
            fill #231f20
            
            &:active
              fill #88b6d1
          
        .copywright__customer
          display inline-block
          width 3.515625vw
          height 4.296875vw
          
          vertical-align middle
          overflow hidden
          
          &:hover
          background-color #669ec0
          cursor pointer
        
          &:active
            background-color #5496bd
            cursor pointer
          
          svg 
            width 3.515625vw
            height 4.296875vw
            
            fill #231f20
            
            &:active
              fill #88b6d1
          

  @media (min-resolution: 144dpi ), (min-resolution: 1.5dppx )
    .header__content
      background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-background@2x.jpg)
      
    .reason__mean--block:first-child:after
      background-image url("file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-city@2x.jpg")
      
    .reason__mean--revers:after
      background-image url("file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-bridge@2x.jpg")
@media screen and (min-width: 1200px)
  body
    width 100%
    max-width 1200px
    margin 0 auto
    
  .main-header
    position relative
    width 100%
    height 887.5px
    
    overflow hidden
    
    &:after
      content ''
      position absolute
      bottom 0
      left 50%
      
      display block
      width 0
      height 0
      margin-left -600px
      
      border-top 56px solid transparent
      border-left 605px solid #fff
      border-right 605px solid #fff
      border-bottom 2px solid #fff
      
    &:before
      content ''
      position absolute
      bottom 0
      left 50%
      
      display block
      width 0
      height 0
      margin-left -346px
      
      border-top 56px solid transparent
      border-left 346px solid #fff
      border-right 346px solid #fff
      border-bottom none
  
  .main-nav
    position relative
    
    display block
    width 100%
    height 87.4999px
    padding 34.4px 4.03645%
    
    box-sizing border-box
    
    ul
      display flex
      flex-direction row
      justify-content space-between
      align-items flex-start
    
    &:before
      display none
    
  .main-nav__btn-burger
    display none

  .main-nav__btn-cross
    display none
    
  .menu-item
    fontVal(21.9px, 18.8px)
    font-family sansB
    font-weight bold
    color #000
    text-align center
    
    background-color #fff
    border none
    
    &:nth-child(2)
      margin-right -54px
      
    &:nth-child(4)
      margin-left -54px
      
    &:hover
      color blueC
      cursor pointer
      
    &:active
      color #000
      opacity 0.3
      cursor pointer
      
  .logo
    position relative
    display inline-block
    width 214px
    height 109.4px

    margin-top -34.4px

    border none
    background-color transparent
    
    svg
      width 214px
      height 109.4px

    img
      position absolute
      top 0
      left 50%

      width 104.7px
      height 87.5px
      margin-left -52.35px
      border none      

      border none
    
  .menu-item--hide
    display inline-block
    
  .header__content
    height 800px
    background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-background@1x.jpg)
    background-repeat no-repeat
    background-size 100% 800px
    background-position center
    
    .text-welcome
        position absolute
        top 118.7px
        left 50%

        display block
        width 295.3px
        height 70.3px
        margin-left -147.65vw
      
    .text-gorgeus
        position absolute
        top 206.3px
        left 50%

        display block
        width 414.1px
        height 46.9px
        margin-left -207.05px
      
    .text-sedona
        position absolute
        top 334.4px
        left 50%

        display block
        width 714.1px
        height 121.9px
        margin-left -357.05px
      
    .text-because
        position absolute
        top 543.8px
        left 50%

        display block
        width 460.9
        height 125px
        margin-left -230.45px

        fill #fff
    
  .page__banner
    position relative
    padding 89.1px 194px 0
    
    text-align center
    fontVal(21.9px, 40.6px)
    box-shadow 0 -2px 0 0 #fff
    
    .page__tagline
      margin-bottom 43.7px
      
      font-family sansB
      font-weight bold
      fontVal(32.8px, 40.6px)
      color #000
      
    .page__paragraph
      margin-bottom 76.6px
      
      &:before
        display none

      &:after
        display none
  
  .reason__mean--block
    position relative
    display block
    width 100%
    height 400px
    
    padding 70.3px 71.847333% 67.2px 62.5px
    margin 0
    
    fontVal(21.9px, 32.8px)
    color #fff
    text-align center
    
    background-color blueC
    
    &:first-child:after
      content ''
      position absolute
      top 0
      right 0
      
      display block
      width 66.666%
      height 400px
      
      background-color rgba(#000, 0.3)
      background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-city@1x.jpg)
      background-repeat no-repeat
      background-size 100% 100%
      background-position center
    
    .reason__tagline
      margin-bottom 15.6px
      
      font-family sansB
      font-weight bold
      fontVal(32.8px, 40.6px)
      
    .reason__number
      display block
      margin-bottom 34.4px
      
  .reason__mean--revers
    position relative
    display block
    width 100%
    height 400px
    
    padding 70.3px 62.5px 67.2px 71.847333%
    margin 0
    
    fontVal(21.9px, 32.8px)
    color #fff
    text-align center
    
    background-color blueC
    
    &:after
      content ''
      position absolute
      top 0
      left 0
      
      display block
      width 66.666%
      height 400px
      
      background-color rgba(#000, 0.3)
      background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-bridge@1x.jpg)
      background-repeat no-repeat
      background-size 100% 100%
      background-position center
      
  .chips-section
    display flex
    flex-direction row
    justify-content space-around
    
    width 100%
    height 515.6px
    
    .chip
      position relative
      
      display inline-block
      width 281.3px
      height 515.6px
      
      padding-top 250px
      margin 0
      
      text-align center
      
      &:last-child
        margin-right 0
      
      .chip__headline
        margin 0
        margin-bottom 32.8px
        
        font sansB
        fontVal(32.8px, 40.6px)
        color #000
        
      .chip__content
        fontVal(21.9px, 32.8px)
        
    .chip--house svg
      position absolute
      top 93.8px
      left 50%
      
      display block
      width 117.2px
      height 112.5px
      margin-left -58.6px
      
      fill blueC
      
    .chip--food svg
      position absolute
      top 95.3px
      left 50%
      
      display block
      width 115.6px
      height 109.4px
      margin-left -57.8px
      
      fill blueC
      
    .chip--souvenir svg
      position absolute
      top 87.5px
      left 50%
      
      display block
      width 100px
      height 118.7px
      margin-left -50px
      
      fill blueC
      
  .reason__mean--inline-box
    display flex
    flex-direction row
    justify-content space-around
    
    background-color grayC
    
  .reason__mean--inline
    display inline-block
    width 300px
    height 400px
    
    padding 70.3px 33px 0 33px
    margin 0
    
    vertical-align top
    color textC
    hyphens auto
    fontVal(21.9px, 32.8px)
    text-align center
    
    background-color grayC
    
    &:first-child
      width 330px
    
    .reason__tagline
      margin-bottom 15.6px
      
      color #000
      font-family sansB
      font-weight bold
      fontVal(32.8px, 40.6px)
      text-align center
      
    .reason__number
      display block
      margin-bottom 34.4px
    
    &:after
      display none
      
  .search-form
    position relative
    width 887.5px
    margin 0 auto
    
    .search-form__form
      position absolute
      top 229px
      
      width 100%
      
      box-shadow 0 12px 24px -12px rgba(#000, 0.5)
      background-color #fff
      z-index 3
    
    .search-form__tagline
      margin-top 90.6px
      margin-bottom 71.25px
      
      font-family sansB
      fontVal(46.9px, 32.8px)
      color #000
      font-weight bold
      text-align center
      
    .search-form__content
      padding 0 93.75px
      margin-bottom 186px
      
      text-align center
      fontVal(21.9px, 37.5px)
      
    .search-form__legend
      display block
      width 100%
      padding 53.1px 0
      margin-bottom 90px
      
      font-family sansB
      fontVal(32.8px, 28.1px)
      text-align center
      color #fff
      font-weight bold
      
      background-color brownC
      
    label
      display inline-block
      width 24%
      padding 28.8px 0
      margin 0
      
      font-family sansB
      fontVal(21.9px, 15.6px)
      font-weight bold
      color #000
      text-align left
      
      box-sizing border-box
      
    input
      display inline-block
      width 75.71%
      padding 21.9px 59.4px 21.9px 23.4px
      margin 0
      
      font-family sansB
      fontVal(21.9px, 15.6px)
      text-transform uppercase
      font-weight bold
      
      border none
      background-color grayC
      box-sizing border-box
      
      placeholder(text-transform, uppercase)
      placeholder(font, sansB)
      placeholder(font-weight, bold)
      placeholder(color, #000)
      
    .box-in
      position relative
      clear both
      
      width 80.4577%
      height 59.4px
      padding 0
      margin 0 auto
      margin-bottom 46.9px
      
      label
        float left
        
      input
        float right
      
      svg
        position absolute
        top 15.6px
        left 93.87%

        width 31.3px
        height 34.4px

        fill #a9a9a9
        
    .box-out
      position relative
      clear both
      
      width 80.4577%
      height 59.4px
      padding 0
      margin 0 auto
      margin-bottom 46.9px
      
      label
        float left
        
      input
        float right
      
      svg
        position absolute
        top 15.6px
        left 93.87%

        width 31.3px
        height 34.4px

        fill #a9a9a9
    
    .box-grown
      position relative
      float left
      clear both
      
      display block
      width 351.6px
      padding 0
      margin 0
      margin-left 87.5px
      
      label
        float left
        display inline-block
        width 144px
        padding-top 30px
      
      .search-form__grown
        float right
        position relative
        display inline-block
        width 180px
        box-sizing border-box
        
        padding-right 59.4px
        padding-left 59.4px
        margin 0
        
        text-align center
        
      .search-form__btn-grown--minus
        position absolute
        top 25px
        right 150px
        
        display block
        width 15.6px
        height 4.7px
        
        background-color transparent
        border none
        
        svg
          width 15.6px
          height 4.7px
          fill #a9a9a9
          
      .search-form__btn-grown--plus
        position absolute
        top 25px
        right 27.6px

        display block
        width 15.6px
        height 15.6px

        background-color transparent
        border none

        svg
          width 15.6px
          height 15.6px
          fill #a9a9a9
      
    .box-children
      position relative
      float right
      clear both
      
      width 293.3px
      padding 0
      margin 0
      margin-right 87.5px
      margin-top -72px
      margin-bottom 84.4px
      
      .search-form__label-children
        float left
        display inline-block
        width 87.6px
        padding-top 30px
        
      .search-form__children
        float right
        position relative
        display inline-block
        width 189.6px
        box-sizing border-box
        
        padding-right 59.4px
        padding-left 59.4px
        margin 0
        
        text-align center
        
      .search-form__btn-children--minus
        position absolute
        top 25px
        right 150px
        
        display block
        width 15.6px
        height 4.7px
        
        background-color transparent
        border none
        
        svg
          width 15.6px
          height 4.7px
          fill #a9a9a9
          
      .search-form__btn-children--plus
        position absolute
        top 25px
        right 27.6px

        display block
        width 15.6px
        height 15.6px

        background-color transparent
        border none

        svg
          width 15.6px
          height 15.6px
          fill #a9a9a9

    .search-form__btn
      display block
      width 715.6px
      
      padding 32.8px 0
      margin 0 auto
      margin-bottom 85.9px
      margin-top 84.4px
      
      font-family sansB
      fontVal(32.8px, 23.4px)
      text-align center
      color #fff
      font-weight bold
      
      clear both
      background-color blueC
      
      &:hover
        background-color #669ec0
        cursor pointer
        
      &:active
        background-color #5496bd
        color #88b6d1
        cursor pointer
      
  .main-footer
    position relative
    width 100%
    height 926.6px
    
    .main-footer__map
      width 100%
      height 100%
      
      background-color rgba(#000, 0.4)
      
      iframe
        width 100%
        height 926.6px
      
    .main-footer__content
      position absolute
      bottom 0
      clear both
      
      display block
      width 100%
      height 187.5px
      padding 56.3px 62.5px 56.3px 75px
      box-sizing border-box
      
      text-align center
      background-color rgba(#fff, 0.8)
      
      .main-footer__tag
        display block
        width 252px
        margin 25.2px 0
        margin-right  173.4px
        float left
        
        font-family sansB
        font-weight bold
        fontVal(32.8px, 23.4px)
        color #000
        
      .social-btn
        float left
        width 235.9px
        height 75px
        
      .social-btn__twitter
        position relative
        display inline-block
        width 72px
        height 75px
        margin-right 9.4px
        
        background-color blueC
        
        &:hover
          background-color #669ec0
          cursor pointer
        
        &:active
          background-color #5496bd
          cursor pointer

        svg 
          position absolute
          top 50%
          left 50%

          width 26.6px
          height 21.9px
          margin-top -10.95px
          margin-left -13.3px

          fill #fff
          
          &:active
            fill #88b6d1
        
      .social-btn__facebook
        position relative
        display inline-block
        width 72px
        height 75px
        margin-right 9.4px
        
        background-color blueC
        
        &:hover
          background-color #669ec0
          cursor pointer
        
        &:active
          background-color #5496bd
          cursor pointer

        svg 
          position absolute
          top 50%
          left 50%

          width 14px
          height 29.7px
          margin-top -14.85px
          margin-left -7px

          fill #fff
          
          &:active
            fill #88b6d1
        
      .social-btn__youtube
        position relative
        display inline-block
        width 72px
        height 75px
        
        background-color blueC
        
        &:hover
          background-color #669ec0
          cursor pointer
        
        &:active
          background-color #5496bd
          cursor pointer
        
        svg 
          position absolute
          top 50%
          left 50%
          
          width 31.2px
          height 21.9px
          margin-top -10.95px
          margin-left -15.6px
          
          fill #fff
          
          &:active
            fill #88b6d1
        
      .copywrite
        display block
        width 296.9px
        height 51.6px
        margin 12px 0
        float right
        
        vertical-align middle
        font-family sansN
        fontVal(21.9px, 15.6px)
        
        .copywright__creator
          display inline-block
          width 40.6px
          height 46.9px
          
          vertical-align middle
          overflow hidden
          
          &:hover
          background-color #669ec0
          cursor pointer
        
          &:active
            background-color #5496bd
            cursor pointer
          
          svg 
            width 40.6px
            height 46.9px
            
            fill #231f20
            
            &:active
              fill #88b6d1
          
        .copywright__customer
          display inline-block
          width 42.2px
          height 51.6px
          
          vertical-align middle
          overflow hidden
          
          &:hover
          background-color #669ec0
          cursor pointer
        
          &:active
            background-color #5496bd
            cursor pointer
          
          svg 
            width 42.2px
            height 51.6px
            
            fill #231f20
            
            &:active
              fill #88b6d1
            
            
  @media (min-resolution: 144dpi ), (min-resolution: 1.5dppx )
    .header__content
      background-image url(file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-background@2x.jpg)
      
    .reason__mean--block:first-child:after
      background-image url("file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-city@2x.jpg")
      
    .reason__mean--revers:after
      background-image url("file:///D:/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8B/Sedona/dist/images/photo-bridge@2x.jpg")

