/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold.eot");
    src: url("../fonts/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

sansN = PTSansRegular
sansB = PTSansBold
sansI = PTSansItalic
blueC = #81b3d2
grayC = #eeeeee
darkgrayC = #d6d6d6
textC = #333333
brownC = #766357
formC = #f2f2f2

fontVal(fSize = 14px, lSize = 14px)
  font-size fSize
  line-height lSize
  text-transform uppercase
  
placeholder(prop, value)
  &::-webkit-input-placeholder
   {prop} value
  &::-moz-input-placeholder
   {prop} value


html,
body,
article,
section,
div,
ul,
li,
h1,
h2,
h3,
h4,
p
  padding 0
  margin 0
  box-sizing border-box


body
  width 100%
  min-width 320px
  margin 0 auto
  
  font-family sansN
  fontVal()
  color textC
  
  background-color #fff
  
.main-content
  width 100%
  

@media screen and (min-width: 0px) and (max-width: 767px)
  .main-header
    width 100%
    height 139.375vw
    
    box-shadow 0 0 -5vw 0 rgba(#000, 0.8)
    //margin-top 68.4vw
  
  .main-nav
    position relative
    
    width 100%
    height 17.5vw
    
    &:before
      content ''
      position absolute
      bottom 100%
      left 0

      display none
      width 100%
      height 68.4vw
    
  .main-nav__btn-burger
    position absolute
    top 5.3125vw
    right 6.25vw
    
    display block
    width 7.1875vw
    height 6.875vw
    
    background-color rgba(#000, 0.3)

  .main-nav__btn-cross
    position absolute
    bottom 74vw
    right 6.25vw
    
    display none
    width 6.875vw
    height 6.875vw
    
    background-color rgba(#000, 0.5)
    z-index 3
    
  .menu-item
    position absolute
    bottom 100%
    
    display block
    width 100%
    padding 2.1875vw 0
    
    fontVal(5.625vw, 12.5vw)
    font-family sansB
    font-weight bold
    color #fff
    text-align center
    
    background-color blueC
    border-bottom 0.3125vw solid rgba(#000, 0.5)
    border-top 0.3125vw solid rgba(#fff, 0.5)
    
    &:first-child
      bottom 68.95vw
      border-top none
      
    &:nth-child(2)
      bottom 51.8vw
      
    &:nth-child(4)
      bottom 34.6875vw
      
    &:last-child
      border-bottom none
    
  .logo
    position relative
    display block
    width 42.8125vw
    height 21.875vw

    margin 0 auto

    border none
    background-color rgba(#000, 0.3)
    
  .menu-item--hide
    display block
    
  .header__content
    height 121.875vw
    
    background-color #e1eef7
    
  .page__banner
    position relative
    height 74.375vw
    padding 12.5vw 6.25vw 0
    
    text-align center
    fontVal(4.375vw, 8.125vw)
    
    .page__tagline
      margin-bottom 8.75vw
      
      font-family sansB
      font-weight bold
      fontVal(5.625vw, 8.125vw)
      color #000
      
    .page__paragraph
      margin-bottom 12.8125vw
      
      &:before
        content ''
        position absolute
        bottom 100%
        left 0

        display block
        width 0
        height 0

        border-top 7.8125vw solid transparent
        border-left 49.3vw solid #fff
        border-right 49.3vw solid #fff
        border-bottom none

      &:after
        content ''
        position absolute
        bottom 0
        left 0

        display block
        width 0
        height 0

        border-top 5vw solid transparent
        border-left 49.3vw solid blueC
        border-right 49.3vw solid blueC
        border-bottom none
      
    
  .reason__mean
    position relative
    height 60.3125vw
    padding 13.4375vw 6.25vw 12.5vw
    margin-bottom 80vw
    
    fontVal(4.375vw, 6.5625vw)
    color #fff
    text-align center
    
    background-color blueC
    
    &:after
      content ''
      position absolute
      top 100%
      left 0
      
      display block
      width 100%
      height 80vw
      
      background-color rgba(#000, 0.3)
    
    .reason__tagline
      margin-bottom 4.0625vw
      
      font-family sansB
      font-weight bold
      fontVal(6.5625vw, 6.5625vw)
      
    .reason__number
      display block
      margin-bottom 4.0625vw
      
  .chips-section
    width 100%
    height 131.25vw
    padding 9.375vw 6.25vw
    
    .chip
      position relative
      padding-top 3.125vw
      padding-left 15.625vw
      margin-bottom 6.25vw
      
      .chip__headline
        margin 0
        margin-bottom 3.4375vw
        
        font sansB
        fontVal(5.625vw, 8.125vw)
        color #000
        
      .chip__content
        fontVal(4.375vw, 6.5625vw)
        
    .chip--house:before
      content ''
      position absolute
      top 0
      left 0.625vw
      
      display block
      width 11.5625vw
      height 11.5625vw
      
      background-color rgba(#000, 0.3)
      
    .chip--food:before
      content ''
      position absolute
      top 0
      left 1.5625vw
      
      display block
      width 10vw
      height 11.875vw
      
      background-color rgba(#000, 0.3)
      
    .chip--souvenir:before
      content ''
      position absolute
      top 0
      left 0
      
      display block
      width 11.5625vw
      height 10.9375vw
      
      background-color rgba(#000, 0.3)
      
  .reason__mean--inline
    margin-bottom 0
    
    color #000
    
    background-color grayC
    
    &:last-of-type:after
      display none
    
    &:after
      bottom 0.15vw
      left 6.25vw
      
      width 86vw
      height 0.3125vw
      
      background-color darkgrayC
      z-index 3
      
  .search-form
    width 100%
    padding-bottom 15.3125vw
    
    box-shadow 0 0 5vw 0 rgba(#000, 0.8)
    
    .search-form__tagline
      margin-top 8.75vw
      margin-bottom 5.9375vw
      
      font-family sansB
      fontVal(6.5625vw, 8.125vw)
      color #000
      text-align center
      
    .search-form__content
      margin-bottom 8.125vw
      
      text-align center
      fontVal(4.375vw, 7.5vw)
      
    .search-form__legend
      display block
      width 100%
      padding 9.375vw 0
      margin-bottom 7.5vw
      
      font-family sansB
      fontVal(4.7vw, 8.125vw)
      text-align center
      color #fff
      font-weight bold
      
      background-color brownC
      
    label
      display block
      width 100%
      padding 0 10.9375vw
      margin-bottom 1.5625vw
      
      font-family sansB
      fontVal(4.375vw, 8.125vw)
      font-weight bold
      color #000
      
      box-sizing border-box
      
    input
      display block
      width 87.5%
      padding 4.375vw 11.875vw 4.375vw 4.8vw
      margin 0 auto
      margin-bottom 7.1875vw
      
      font-family sansB
      fontVal(4.375vw, 3.125vw)
      text-transform uppercase
      font-weight bold
      
      border none
      background-color grayC
      box-sizing border-box
      
      placeholder(text-transform, uppercase)
      placeholder(font, sansB)
      placeholder(font-weight, bold)
      placeholder(color, #000)
    
    .box-grown
      float left
      width 35.625vw
      padding 0
      margin 0
      margin-left 6.25vw
      margin-bottom 14.375vw
      
      .search-form__label-grown
        padding-left 3.125vw
        
      .search-form__grown
        margin 0
      
    .box-children
      float right
      width 35.625vw
      padding 0
      margin 0
      margin-right 3.125vw
      
      .search-form__label-children
        padding-left 3.125vw
        
      .search-form__children
        margin 0
        margin-right 0
      
    .search-form__btn
      display block
      width 87.5%
      
      padding 6.25vw 0
      margin 0 auto
      margin-top 14.375vw
      
      font-family sansB
      fontVal(6.5625vw, 5.625vw)
      text-align center
      color #fff
      font-weight bold
      
      clear both
      background-color blueC
      
  .main-footer
    position relative
    width 100%
    height 185.3125vw
    
    .main-footer__map
      width 100%
      height 100%
      
      background-color rgba(#000, 0.4)
      
    .main-footer__content
      position absolute
      bottom 0
      
      width 100%
      height 72.8125vw
      padding 0 6.25vw
      
      text-align center
      background-color rgba(#fff, 0.8)
      
      .main-footer__tag
        margin-top 9.6875vw
        margin-bottom 13.125vw
        
        font-family sansB
        font-weight bold
        fontVal(6.5625vw, 4.6875vw)
        color #000
        
      .social-btn
        display block
        width 47.1875vw
        height 15vw
        margin 0 auto
        margin-bottom 12.8125vw
        
      .social-btn__twitter
        display inline-block
        width 14.375vw
        height 15vw
        margin-right 1.875vw
        
        background-color rgba(#000, 0.5)
        
      .social-btn__facebook
        display inline-block
        width 14.375vw
        height 15vw
        margin-right 1.875vw
        
        background-color rgba(#000, 0.5)
        
      .social-btn__youtube 
        display inline-block
        width 14.375vw
        height 15vw
        
        background-color rgba(#000, 0.5)
        
      .copywrite
        display block
        height 10.3125vw
        padding-top -30px
        
        vertical-align middle
        font-family sansN
        fontVal(4.375vw, 8.125vw)
        
        .copywright__creator
          display inline-block
          width 8.4375vw
          height 10.3125vw
          
          vertical-align middle
          background-color rgba(#000, 0.5)
          overflow hidden
          
        .copywright__customer
          display inline-block
          width 8.4375vw
          height 10.3125vw
          
          vertical-align middle
          background-color rgba(#000, 0.5)
          overflow hidden



@media screen and (min-width: 768px) and (max-width: 1199px)
  .main-header
    position relative
    width 100%
    height 73.958333vw
    
    &:after
      content ''
      position absolute
      bottom 0
      left 50%
      
      display block
      width 0
      height 0
      margin-left -49.35vw
      
      border-top 4.6875vw solid transparent
      border-left 49.35vw solid #fff
      border-right 49.35vw solid #fff
      border-bottom none
      
    &:before
      content ''
      position absolute
      bottom 0
      left 50%
      
      display block
      width 0
      height 0
      margin-left -28.9vw
      
      border-top 4.6875vw solid transparent
      border-left 28.9vw solid #fff
      border-right 28.9vw solid #fff
      border-bottom none
  
  .main-nav
    position relative
    
    display block
    width 100%
    height 7.291666vw
    padding 2.8646vw 4.03645%
    
    box-sizing border-box
    
    ul
      display flex
      flex-direction row
      justify-content space-between
      align-items flex-start
    
    &:before
      display none
    
  .main-nav__btn-burger
    display none

  .main-nav__btn-cross
    display none
    
  .menu-item    
    fontVal(1.8229vw, 1.5625vw)
    font-family sansB
    font-weight bold
    color #000
    text-align center
    
    background-color #fff
    border none
    
    
    &:nth-child(2)
      margin-right -4.5vw
      
    &:nth-child(4)
      margin-left -4.5vw
      
  .logo
    position relative
    display inline-block
    width 17.83854vw
    height 9.11458vw

    margin-top -2.8646vw

    border none
    background-color rgba(#000, 0.3)
    
  .menu-item--hide
    display inline-block
    
  .header__content
    height 66.666vw
    
    background-color #e1eef7
    
  .page__banner
    position relative
    padding 7.421875vw 16.1458333vw 0
    
    text-align center
    fontVal(1.82291666vw, 3.38541666vw)
    
    .page__tagline
      margin-bottom 3.6458333vw
      
      font-family sansB
      font-weight bold
      fontVal(2.734375vw, 3.38541666vw)
      color #000
      
    .page__paragraph
      margin-bottom 6.380208333vw
      
      &:before
        display none

      &:after
        display none
  
  .reason__mean
    position relative
    display block
    width 100%
    height 33.3333vw
    
    padding 5.859375vw 71.847333% 5.598958vw 5.208vw
    margin 0
    
    fontVal(1.82291666vw, 2.734375vw)
    color #fff
    text-align center
    
    background-color blueC
    
    &:after
      content ''
      position absolute
      top 0
      right 0
      
      display block
      width 66.666%
      height 33.3333vw
      
      background-color rgba(#000, 0.3)
    
    .reason__tagline
      margin-bottom 1.30208vw
      
      font-family sansB
      font-weight bold
      fontVal(2.734375vw, 3.38541666vw)
      
    .reason__number
      display block
      margin-bottom 2.86458vw
      
  .reason__mean--revers
    padding 5.859375vw 5.208vw 5.598958vw 71.847333%
    
    &:after
      left 0
      
  .chips-section
    display flex
    flex-direction row
    justify-content space-around
    
    width 100%
    height 42.96875vw
    
    .chip
      position relative
      
      display inline-block
      width 23.4375vw
      height 42.96875vw
      
      padding-top 20.8333vw
      margin 0
      
      text-align center
      
      &:last-child
        margin-right 0
      
      .chip__headline
        margin 0
        margin-bottom 2.734375vw
        
        font sansB
        fontVal(2.734375vw, 3.38541666vw)
        color #000
        
      .chip__content
        fontVal(1.82291vw, 2.734375vw)
        
    .chip--house:before
      content ''
      position absolute
      top 7.8125vw
      left 50%
      
      display block
      width 9.7656vw
      height 9.375vw
      margin-left -4.8828vw
      
      background-color rgba(#000, 0.3)
      
    .chip--food:before
      content ''
      position absolute
      top 7.9427vw
      left 50%
      
      display block
      width 9.6354vw
      height 9.11458333vw
      margin-left -4.817708vw
      
      background-color rgba(#000, 0.3)
      
    .chip--souvenir:before
      content ''
      position absolute
      top 7.29166vw
      left 50%
      
      display block
      width 8.3333vw
      height 9.8958333vw
      margin-left -4.16666vw
      
      background-color rgba(#000, 0.3)
      
  .reason__mean--inline-box
    display flex
    flex-direction row
    justify-content space-around
    
    background-color grayC
    
  .reason__mean--inline
    display inline-block
    width 23.4375vw
    height 33.333vw
    
    padding 5.8594vw 0 0 0
    margin 0
    
    vertical-align top
    color textC
    hyphens auto
    
    background-color grayC
    
    
    .reason__tagline
      padding 0 3.2552vw
      color #000
    
    &:after
      display none
      
  .search-form
    position relative
    width 73.95833%
    margin 0 auto
    
    .search-form__form
      position absolute
      top 19.14vw
      
      box-shadow 0 0 20px -5px #000
      background-color #fff
      z-index 3
    
    .search-form__tagline
      margin-top 7.55208vw
      margin-bottom 5.9375vw
      
      font-family sansB
      fontVal(3.90625vw, 2.734375vw)
      color #000
      font-weight bold
      text-align center
      
    .search-form__content
      padding 0 7.8125vw
      margin-bottom 15.5vw
      
      text-align center
      fontVal(1.82292vw, 3.125vw)
      
    .search-form__legend
      display block
      width 100%
      padding 4.42708vw 0
      margin-bottom 7.5vw
      
      font-family sansB
      fontVal(2.734375vw, 2.34375vw)
      text-align center
      color #fff
      font-weight bold
      
      background-color brownC
      
    label
      display inline-block
      width 14.58333vw
      padding 0
      margin 0
      margin-left 7.161458vw
      
      font-family sansB
      fontVal(1.82292vw, 1.30208vw)
      font-weight bold
      color #000
      
      box-sizing border-box
      
    input
      display inline-block
      width 60.915%
      padding 1.82291666vw 4.94791666vw 1.82291666vw 1.953125vw
      margin 0
      margin-bottom 3.90625vw
      
      font-family sansB
      fontVal(1.82292vw, 1.30208vw)
      text-transform uppercase
      font-weight bold
      
      border none
      background-color grayC
      box-sizing border-box
      
      placeholder(text-transform, uppercase)
      placeholder(font, sansB)
      placeholder(font-weight, bold)
      placeholder(color, #000)
    
    .box-grown
      display inline-block
      width 29.427vw
      height 6vw
      
      padding 0
      margin 0
      margin-left 7.161458vw
      
      box-sizing border-box
      clear both
      
      .search-form__label-grown
        float left
        display ininline-block
        width 0vw
        padding 0
        padding 2.5vw 0
        margin 0
        
      .search-form__grown
        float right
        display ininline-block
        width 14.84375vw
        margin 0
      
    .box-children
      display inline-block
      width 23.4375vw
      height 6vw
      
      padding 0
      margin 0
      margin-left 5.5vw
      
      box-sizing border-box
      clear both
      
      .search-form__label-children
        float left
        display ininline-block
        width 5.208vw
        padding 0
        padding 2.5vw 0
        margin 0
        
      .search-form__children
        float right
        display ininline-block
        width 14.84375vw
        margin 0
      
    .search-form__btn
      display block
      width 59.6354vw
      
      padding 2.734375vw 0
      margin 0 auto
      margin-bottom 7.1615vw
      margin-top 7.03125vw
      
      font-family sansB
      fontVal(2.734375vw, 1.953125vw)
      text-align center
      color #fff
      font-weight bold
      
      clear both
      background-color blueC
      
  .main-footer
    position relative
    width 100%
    height 77.21354vw
    
    .main-footer__map
      width 100%
      height 100%
      
      background-color rgba(#000, 0.4)
      
    .main-footer__content
      position absolute
      bottom 0
      
      display flex
      flex-direction row
      justify-content space-between
      align-items center
      
      width 100%
      height 15.625vw
      padding 4.6875vw 5.208vw 4.6875vw 7.8125vw
      box-sizing border-box
      
      text-align center
      background-color rgba(#fff, 0.8)
      
      .main-footer__tag
        font-family sansB
        font-weight bold
        fontVal(2.734375vw, 1.9531vw)
        color #000
        
      .social-btn
        width 19.66145vw
        height 6.25vw
        
      .social-btn__twitter
        display inline-block
        width 5.98958vw
        height 6.25vw
        margin-right 0.78125vw
        
        background-color rgba(#000, 0.5)
        
      .social-btn__facebook
        display inline-block
        width 5.98958vw
        height 6.25vw
        margin-right 0.78125vw
        
        background-color rgba(#000, 0.5)
        
      .social-btn__youtube 
        display inline-block
        width 5.98958vw
        height 6.25vw
        
        background-color rgba(#000, 0.5)
        
      .copywrite
        display block
        width 24.73958vw
        height 4.296875vw
        
        vertical-align middle
        font-family sansN
        fontVal(1.8229vw, 1.30208vw)
        
        .copywright__creator
          display inline-block
          width 3.3854vw
          height 3.90625vw
          
          vertical-align middle
          background-color rgba(#000, 0.5)
          overflow hidden
          
        .copywright__customer
          display inline-block
          width 3.515625vw
          height 4.296875vw
          
          vertical-align middle
          background-color rgba(#000, 0.5)
          overflow hidden


@media screen and (min-width: 1200px)
  body
    width 100%
    max-width 1200px
    margin 0 auto
  
  .main-header
    position relative
    width 100%
    height 73.958333vw
    
    &:after
      content ''
      position absolute
      bottom 0
      
      display block
      width 0
      height 0
      margin 0 auto
      
      border-top 4.6875vw solid transparent
      border-left 49vw solid #fff
      border-right 49vw solid #fff
      border-bottom none
      
    &:before
      content ''
      position absolute
      bottom 0
      left 50%
      
      display block
      width 0
      height 0
      margin-left -28.9vw
      
      border-top 4.6875vw solid transparent
      border-left 28.9vw solid #fff
      border-right 28.9vw solid #fff
      border-bottom none
  
  .main-nav
    position relative
    
    display block
    width 100%
    height 7.291666vw
    padding 2.8646vw 4.03645%
    
    box-sizing border-box
    
    ul
      display flex
      flex-direction row
      justify-content space-between
      align-items flex-start
    
    &:before
      display none
    
  .main-nav__btn-burger
    display none

  .main-nav__btn-cross
    display none
    
  .menu-item    
    fontVal(1.8229vw, 1.5625vw)
    font-family sansB
    font-weight bold
    color #000
    text-align center
    
    background-color #fff
    border none
    
    
    &:nth-child(2)
      margin-right -4.5vw
      
    &:nth-child(4)
      margin-left -4.5vw
      
  .logo
    position relative
    display inline-block
    width 17.83854vw
    height 9.11458vw

    margin-top -2.8646vw

    border none
    background-color rgba(#000, 0.3)
    
  .menu-item--hide
    display inline-block
    
  .header__content
    height 66.666vw
    
    background-color #e1eef7
    
  .page__banner
    position relative
    padding 7.421875vw 16.1458333vw 0
    
    text-align center
    fontVal(1.82291666vw, 3.38541666vw)
    
    .page__tagline
      margin-bottom 3.6458333vw
      
      font-family sansB
      font-weight bold
      fontVal(2.734375vw, 3.38541666vw)
      color #000
      
    .page__paragraph
      margin-bottom 6.380208333vw
      
      &:before
        display none

      &:after
        display none
  
  .reason__mean
    position relative
    display block
    width 100%
    height 33.3333vw
    
    padding 5.859375vw 71.847333% 5.598958vw 5.208vw
    margin 0
    
    fontVal(1.82291666vw, 2.734375vw)
    color #fff
    text-align center
    
    background-color blueC
    
    &:after
      content ''
      position absolute
      top 0
      right 0
      
      display block
      width 66.666%
      height 33.3333vw
      
      background-color rgba(#000, 0.3)
    
    .reason__tagline
      margin-bottom 1.30208vw
      
      font-family sansB
      font-weight bold
      fontVal(2.734375vw, 3.38541666vw)
      
    .reason__number
      display block
      margin-bottom 2.86458vw
      
  .reason__mean--revers
    padding 5.859375vw 5.208vw 5.598958vw 71.847333%
    
    &:after
      left 0
      
  .chips-section
    width 100%
    height 42.96875vw
    padding 0 5.208333vw
    
    .chip
      position relative
      
      display inline-block
      width 23.4375vw
      height 42.96875vw
      
      padding-top 20.8333vw
      margin 0
      margin-right 7.6vw
      
      text-align center
      
      &:last-child
        margin-right 0
      
      .chip__headline
        margin 0
        margin-bottom 2.734375vw
        
        font sansB
        fontVal(2.734375vw, 3.38541666vw)
        color #000
        
      .chip__content
        fontVal(1.82291vw, 2.734375vw)
        
    .chip--house:before
      content ''
      position absolute
      top 7.8125vw
      left 50%
      
      display block
      width 9.7656vw
      height 9.375vw
      margin-left -4.8828vw
      
      background-color rgba(#000, 0.3)
      
    .chip--food:before
      content ''
      position absolute
      top 7.9427vw
      left 50%
      
      display block
      width 9.6354vw
      height 9.11458333vw
      margin-left -4.817708vw
      
      background-color rgba(#000, 0.3)
      
    .chip--souvenir:before
      content ''
      position absolute
      top 7.29166vw
      left 50%
      
      display block
      width 8.3333vw
      height 9.8958333vw
      margin-left -4.16666vw
      
      background-color rgba(#000, 0.3)
      
  .reason__mean--inline-box
    display flex
    flex-direction row
    justify-content space-around
    
    background-color grayC
    
  .reason__mean--inline
    display inline-block
    width 23.4375vw
    height 33.333vw
    
    padding 5.8594vw 0 0 0
    margin 0
    
    vertical-align top
    color textC
    hyphens auto
    
    background-color grayC
    
    
    .reason__tagline
      padding 0 3.2552vw
      color #000
    
    &:after
      display none
      
  .search-form
    position relative
    width 73.95833%
    margin 0 auto
    
    .search-form__form
      position absolute
      top 19.14vw
      
      box-shadow 0 0 20px -5px #000
      background-color #fff
      z-index 3
    
    .search-form__tagline
      margin-top 7.55208vw
      margin-bottom 5.9375vw
      
      font-family sansB
      fontVal(3.90625vw, 2.734375vw)
      color #000
      font-weight bold
      text-align center
      
    .search-form__content
      padding 0 7.8125vw
      margin-bottom 15.5vw
      
      text-align center
      fontVal(1.82292vw, 3.125vw)
      
    .search-form__legend
      display block
      width 100%
      padding 4.42708vw 0
      margin-bottom 7.5vw
      
      font-family sansB
      fontVal(2.734375vw, 2.34375vw)
      text-align center
      color #fff
      font-weight bold
      
      background-color brownC
      
    label
      display inline-block
      width 14.58333vw
      padding 0
      margin 0
      margin-left 7.161458vw
      
      font-family sansB
      fontVal(1.82292vw, 1.30208vw)
      font-weight bold
      color #000
      
      box-sizing border-box
      
    input
      display inline-block
      width 60.915%
      padding 1.82291666vw 4.94791666vw 1.82291666vw 1.953125vw
      margin 0
      margin-bottom 3.90625vw
      
      font-family sansB
      fontVal(1.82292vw, 1.30208vw)
      text-transform uppercase
      font-weight bold
      
      border none
      background-color grayC
      box-sizing border-box
      
      placeholder(text-transform, uppercase)
      placeholder(font, sansB)
      placeholder(font-weight, bold)
      placeholder(color, #000)
    
    .box-grown
      display inline-block
      width 29.427vw
      height 6vw
      
      padding 0
      margin 0
      margin-left 7.161458vw
      
      box-sizing border-box
      clear both
      
      .search-form__label-grown
        float left
        display ininline-block
        width 0vw
        padding 0
        padding 2.5vw 0
        margin 0
        
      .search-form__grown
        float right
        display ininline-block
        width 14.84375vw
        margin 0
      
    .box-children
      display inline-block
      width 23.4375vw
      height 6vw
      
      padding 0
      margin 0
      margin-left 5.5vw
      
      box-sizing border-box
      clear both
      
      .search-form__label-children
        float left
        display ininline-block
        width 5.208vw
        padding 0
        padding 2.5vw 0
        margin 0
        
      .search-form__children
        float right
        display ininline-block
        width 14.84375vw
        margin 0
      
    .search-form__btn
      display block
      width 59.6354vw
      
      padding 2.734375vw 0
      margin 0 auto
      margin-bottom 7.1615vw
      margin-top 7.03125vw
      
      font-family sansB
      fontVal(2.734375vw, 1.953125vw)
      text-align center
      color #fff
      font-weight bold
      
      clear both
      background-color blueC
      
  .main-footer
    position relative
    width 100%
    height 77.21354vw
    
    .main-footer__map
      width 100%
      height 100%
      
      background-color rgba(#000, 0.4)
      
    .main-footer__content
      position absolute
      bottom 0
      
      display flex
      flex-direction row
      justify-content space-between
      align-items center
      
      width 100%
      height 15.625vw
      padding 4.6875vw 5.208vw 4.6875vw 7.8125vw
      box-sizing border-box
      
      text-align center
      background-color rgba(#fff, 0.8)
      
      .main-footer__tag
        font-family sansB
        font-weight bold
        fontVal(2.734375vw, 1.9531vw)
        color #000
        
      .social-btn
        width 19.66145vw
        height 6.25vw
        
      .social-btn__twitter
        display inline-block
        width 5.98958vw
        height 6.25vw
        margin-right 0.78125vw
        
        background-color rgba(#000, 0.5)
        
      .social-btn__facebook
        display inline-block
        width 5.98958vw
        height 6.25vw
        margin-right 0.78125vw
        
        background-color rgba(#000, 0.5)
        
      .social-btn__youtube 
        display inline-block
        width 5.98958vw
        height 6.25vw
        
        background-color rgba(#000, 0.5)
        
      .copywrite
        display block
        width 24.73958vw
        height 4.296875vw
        
        vertical-align middle
        font-family sansN
        fontVal(1.8229vw, 1.30208vw)
        
        .copywright__creator
          display inline-block
          width 3.3854vw
          height 3.90625vw
          
          vertical-align middle
          background-color rgba(#000, 0.5)
          overflow hidden
          
        .copywright__customer
          display inline-block
          width 3.515625vw
          height 4.296875vw
          
          vertical-align middle
          background-color rgba(#000, 0.5)
          overflow hidden
















