mixin reason-5()
	+b.reasons__reason-5.reason-5&attributes(attributes)
		h4.reason-5__tagline Мало туристов
		span.reason-5__number &ndash; №5 &ndash;
		p.reason-5__content Большинство едет в Гранд Каньон и толпится там
