+below(768px)
	.chips
		size(100%, 131.25vw)
		padding 9.375vw 6.25vw
		
	.chip-house
		position relative
		padding-top 3.125vw
		padding-left 15.625vw
		margin-bottom 6.25vw
		
		&__headline
			margin 0
			margin-bottom 3.4375vw

			font sansB
			fontVal(5.625vw, 8.125vw)
			color #000
			
		&__content
			fontVal(4.375vw, 6.5625vw)
			
		&__svg
			position absolute
			top 0
			left 0.625vw

			size(11.5625vw)
			fill blueColor
		
	.chip-food
		position relative
		padding-top 3.125vw
		padding-left 15.625vw
		margin-bottom 6.25vw
		
		&__headline
			margin 0
			margin-bottom 3.4375vw

			font sansB
			fontVal(5.625vw, 8.125vw)
			color #000
			
		&__content
			fontVal(4.375vw, 6.5625vw)
			
		&__svg
			position absolute
			top 0
			left 1.5625vw
			size(10vw, 11.875vw)

			fill blueColor
		
	.chip-souvenir
		position relative
		padding-top 3.125vw
		padding-left 15.625vw
		margin-bottom 6.25vw
		
		&__headline
			margin 0
			margin-bottom 3.4375vw

			font sansB
			fontVal(5.625vw, 8.125vw)
			color #000
			
		&__content
			fontVal(4.375vw, 6.5625vw)
			
		&__svg
			position absolute
			top 0
			left 0
			size(11.5625vw, 10.9375vw)

			fill blueColor
+between(768px, 1199px)
	.chips
		display flex
		flex-direction row
		justify-content space-around
		size(100%, 42.969vw)
		
	.chip-house
		position relative

		display inline-block
		size(23.4375vw, 42.96875vw)

		padding-top 20.8333vw
		margin 0

		text-align center
		
		&__headline
			margin 0
			margin-bottom 2.734375vw

			font sansB
			fontVal(2.734375vw, 3.38541666vw)
			color #000
			
		&__content
			fontVal(1.82291vw, 2.734375vw)
			
		&__svg
			position absolute
			top 7.8125vw
			left 50%

			display block
			size(9.7656vw, 9.375vw)
			margin-left -4.8828vw

			fill blueColor
			
	.chip-food
		position relative

		display inline-block
		size(23.4375vw, 42.96875vw)

		padding-top 20.8333vw
		margin 0

		text-align center
		
		&__headline
			margin 0
			margin-bottom 2.734375vw

			font sansB
			fontVal(2.734375vw, 3.38541666vw)
			color #000
			
		&__content
			fontVal(1.82291vw, 2.734375vw)
			
		&__svg
			position absolute
			top 7.9427vw
			left 50%

			display block
			size(9.6354vw, 9.11458333vw)
			margin-left -4.817708vw

			fill blueColor
			
	.chip-souvenir
		position relative

		display inline-block
		size(23.4375vw, 42.96875vw)

		padding-top 20.8333vw
		margin 0

		text-align center
		
		&__headline
			margin 0
			margin-bottom 2.734375vw

			font sansB
			fontVal(2.734375vw, 3.38541666vw)
			color #000
			
		&__content
			fontVal(1.82291vw, 2.734375vw)
			
		&__svg
			position absolute
			top 7.29166vw
			left 50%

			display block
			size(8.3333vw, 9.8958333vw)
			margin-left -4.16666vw

			fill blueColor
+above(1199px)
	.chips
		display flex
		flex-direction row
		justify-content space-around
		size(100%, 515.6px)
		
	.chip-house
		position relative
		size(281.3px, 515.6px)

		padding-top 250px
		margin 0

		text-align center
		
		&__headline
			margin 0
			margin-bottom 32.8px

			font sansB
			fontVal(32.8px, 40.6px)
			color #000
			
		&__content
			fontVal(21.9px, 32.8px)
			
		&__svg
			position absolute
			top 93.8px
			left 50%

			display block
			size(117.2px, 112.5px)
			margin-left -58.6px

			fill blueColor
			
	.chip-food
		position relative
		size(281.3px, 515.6px)

		padding-top 250px
		margin 0

		text-align center
		
		&__headline
			margin 0
			margin-bottom 32.8px

			font sansB
			fontVal(32.8px, 40.6px)
			color #000
			
		&__content
			fontVal(21.9px, 32.8px)
			
		&__svg
			position absolute
			top 95.3px
			left 50%

			display block
			size(115.6px, 109.4px)
			margin-left -57.8px

			fill blueColor
	.chip-souvenir
		position relative
		size(281.3px, 515.6px)

		padding-top 250px
		margin 0

		text-align center
		
		&__headline
			margin 0
			margin-bottom 32.8px

			font sansB
			fontVal(32.8px, 40.6px)
			color #000
			
		&__content
			fontVal(21.9px, 32.8px)
			
		&__svg
			position absolute
			top 87.5px
			left 50%

			display block
			size(100px, 118.7px)
			margin-left -50px

			fill blueColor