mixin main-footer()
	+b('footer').main-footer&attributes(attributes)
		div.main-footer__map
			iframe(class="main-footer__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52385.18047413767!2d-111.83015803683307!3d34.85437343103526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da132f942b00d%3A0x5548c523fa6c8efd!2z0KHQtdC00L7QvdCwLCDQkNGA0LjQt9C-0L3QsCA4NjMzNiwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1474848908263" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
		div.main-footer__content
			p.main-footer__tag #visitsedona
			div.main-footer__social-btn.social-btn
				a(href="#").social-btn__twitter
					svg.social-btn__twitter-svg
						use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_twitter')
				a(href="#").social-btn__facebook
					svg.social-btn__facebook-svg
						use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_facebook')
				a(href="#").social-btn__youtube
					svg.social-btn__youtube-svg
						use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_youtube')
			div.main-footer__copyright.copyright
				span.copyright__text Website by
					a(href="#").copyright__creator
						svg.copyright__creator-svg
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_logo-glukhanko')
					| for
					a(href="#").copyright__customer
						svg.copyright__customer-svg
							use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_logo-htmlacademy')
