mixin reason-2()
	+b.reasons__reason-2.reason-2&attributes(attributes)
		h4.reason-2__tagline Там есть мост дьявола
		span.reason-2__number &ndash; №2 &ndash;
		p.reason-2__content Да, по нему можно пройти! Если конечно вы осмелитесь
