mixin reason-3()
	+b.reasons__reason-3.reason-3&attributes(attributes)
		h4.reason-3__tagline Небольшая площадь
		span.reason-3__number &ndash; №3 &ndash;
		p.reason-3__content Все достопримеча&shy;тельности находятся очень близко