mixin banner()
	+b.main-header__banner.banner&attributes(attributes)
		svg.banner__svg-text-welcome
			use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_text-welcome').banner__icon-text-welcome
		svg.banner__svg-text-gorgeous
			use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_text-gorgeous').banner__icon-text-gorgeous
		svg.banner__svg-text-sedona
			use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_text-sedona').banner__icon-text-sedona
		svg.banner__svg-text-because
			use(x='0' y='0' xlink:href='assets/images/icon.svg#icon_text-because').banner__icon-text-because
