+below(768px)
	.banner
		position relative
		size(100%, 121.875vw)

		background-color #e1eef7
		background-image url(../images/photo-background@1x.jpg)
		background-repeat no-repeat
		background-size auto 121.875vw
		background-position center
		
		+retina()
			background-image url(../images/photo-background@2x.jpg)
			
		&__svg-text-welcome
			position absolute
			top 14.6875vw
			left 50%

			display block
			size(45vw, 10.9375vw)
			margin-left -22.5vw
			fill blueColor
			
		&__svg-text-gorgeous
			position absolute
			top 28.125vw
			left 50%

			display block
			size(61.25vw, 7.1875vw)
			margin-left -30.625vw
			
			fill brownColor
			
		&__svg-text-sedona
			position absolute
			top 54.0625vw
			left 50%

			display block
			size(87.5vw, 14.6875vw)
			margin-left -43.75vw
			
			fill #fff
			
		&__svg-text-because
			position absolute
			top 90vw
			left 50%

			display block
			size(61.25vw, 15vw)
			margin-left -30.625vw

			fill #fff
+between(768px, 1199px)
	.banner
		position relative
		size(100%, 66.666vw)

		background-color #e1eef7
		background-image url(../images/photo-background@1x.jpg)
		background-repeat no-repeat
		background-size auto 66.666vw
		background-position center
		
		+retina()
			background-image url(../images/photo-background@2x.jpg)
			
		&__svg-text-welcome
			position absolute
			top 9.8958vw
			left 50%

			display block
			size(24.6094vw, 5.8594vw)
			margin-left -12.305vw
			fill blueColor
			
		&__svg-text-gorgeous
			position absolute
			top 17.1875vw
			left 50%

			display block
			size(34.505vw, 3.90625vw)
			margin-left -17.2526vw
			
			fill brownColor
			
		&__svg-text-sedona
			position absolute
			top 27.8645vw
			left 50%

			display block
			size(59.505vw, 10.156vw)
			margin-left -29.7526vw
			
			fill #fff
			
		&__svg-text-because
			position absolute
			top 45.3125vw
			left 50%

			display block
			size(38.4115vw, 10.417vw)
			margin-left -19.20573vw

			fill #fff
			
+above(1199px)
	.banner
		position relative
		size(100%, 800px)

		background-color #e1eef7
		background-image url(../images/photo-background@1x.jpg)
		background-repeat no-repeat
		background-size 100% 800px
		background-position center
		
		+retina()
			background-image url(../images/photo-background@2x.jpg)
			
		&__svg-text-welcome
			position absolute
			top 118.7px
			left 50%

			display block
			size(295px, 70px)
			margin-left -147.5px
			fill blueColor
			
		&__svg-text-gorgeous
			position absolute
			top 206.3px
			left 50%

			display block
			size(414.1px, 46.9px)
			margin-left -207.05px
			
			fill brownColor
			
		&__svg-text-sedona
			position absolute
			top 334.4px
			left 50%

			display block
			size(714.1px, 121.9px)
			margin-left -357.05px
			
			fill #fff
			
		&__svg-text-because
			position absolute
			top 543.8px
			left 50%

			display block
			size(460.9px, 125px)
			margin-left -230.45px

			fill #fff