+below(768px)
	.reason-4
		position relative
		height 60.3125vw
		padding 13.4375vw 6.25vw 12.5vw
		margin-bottom 0vw

		fontVal(4.375vw, 6.5625vw)
		text-align center
		color #000

		background-color grayColor
		
		&__tagline
			margin-bottom 4.0625vw

			font-family sansB
			font-weight bold
			fontVal(6.5625vw, 6.5625vw)
		
		&:after
			content ''
			position absolute
			bottom 0.15vw
			left 6.25vw

			display block
			width 86vw
			height 0.3125vw

			background-color darkgrayColor
			z-index 3
			
		&__number
			display block
			margin-bottom 4.0625vw
+between(768px, 1199px)
	.reason-4
		size(23.4375vw, 33.333vw)
		padding 5.8594vw 0 0 0
		margin 0

		vertical-align top
		color textColor
		hyphens auto
		fontVal(1.82291666vw, 2.734375vw)
		text-align center
		
		&__tagline
			padding 0 3.2552vw
			margin-bottom 1.30208vw

			font-family sansB
			font-weight bold
			color #000
			fontVal(2.734375vw, 3.38541666vw)
			
		&__number
			display block
			margin-bottom 2.86458vw

+above(1199px)
	.reason-4
		size(330px, 400px)
		padding 70.3px 33px 0 33px
		margin 0

		vertical-align top
		color textColor
		hyphens auto
		fontVal(21.9px, 32.8px)
		text-align center

		background-color grayColor
		
		&__tagline
			margin-bottom 15.6px

			color #000
			font-family sansB
			font-weight bold
			fontVal(32.8px, 40.6px)
			text-align center
			
		&__number
			display block
			margin-bottom 34.4px