mixin reason-4()
	+b.reasons__reason-4.reason-4&attributes(attributes)
		h4.reason-4__tagline Красивая дорога
		span.reason-4__number &ndash; №4 &ndash;
		p.reason-4__content Ехать в Седону из Лас-Вегаса совсем не скучно!
